<a href="https://colab.research.google.com/github/yujin0210/esaa/blob/main/ESAA_2%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 04 데이터 핸들링 - 판다스



*   대부분 2차원 데이터
   즉 행(row) X 열(column)으로 구성됨
*   판다스의 핵심 객체 : DataFrame ; 칼럼이 여러개인 데이터 구조체

### 1. 판다스 시작 - 파일을 DataFrame으로 로딩, 기본 API


*   pandas를 pd로 에일리어스(alias)해 임포트

In [ ]:
import pandas as pd

In [ ]:
titanic_df = pd.read_csv(r'C:\Users\user\OneDrive\바탕 화면\train.csv')
titanic_df.head(3)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\user\\OneDrive\\바탕 화면\\train.csv'

In [ ]:
titanic_df = pd.read_csv('titanic_train.csv')
print('titanic 변수 type:',type(titanic_df))
titanic_df

FileNotFoundError: [Errno 2] No such file or directory: 'titanic_train.csv'

In [ ]:
titanic_df.head(3)

In [ ]:
print('DataFrame 크기: ', titanic_df.shape)

In [ ]:
titanic_df.info()

In [ ]:
titanic_df.describe()

In [ ]:
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)

In [ ]:
titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))

In [ ]:
titanic_pclass.head()

In [ ]:
value_counts = titanic_df['Pclass'].value_counts()
print(type(value_counts))
print(value_counts)

In [ ]:
print('titanic_df 데이터 건수:', titanic_df.shape[0])
print('기본 설정인 dropna=True로 value_counts()')
# value_counts()는 디폴트로 dropna=True이므로 value_counts(dropna=True)와 동일.
print(titanic_df['Embarked'].value_counts())
print(titanic_df['Embarked'].value_counts(dropna=False))

### 2. DataFrame과 리스트, 딕셔너리, 넘파이 ndarray 상호 변환

- 넘파이 ndarray, 파이썬 리스트, 딕셔너리로부터 DataFrame 생성하기



*   DataFrame은 기본적으로 행과 열을 가지는 2차원 데이터 -> 2차원 이하의 데이터들만 변환 가능

In [ ]:
import numpy as np

col_name1=['col1']
list1 = [1, 2, 3]
array1 = np.array(list1)
print('array1 shape:', array1.shape )
# 리스트를 이용해 DataFrame 생성.
df_list1 = pd.DataFrame(list1, columns=col_name1)
print('1차원 리스트로 만든 DataFrame:\n', df_list1)
# 넘파이 ndarray를 이용해 DataFrame 생성.
df_array1 = pd.DataFrame(array1, columns=col_name1)
print('1차원 ndarray로 만든 DataFrame:\n', df_array1)

array1 shape: (3,)

NameError: name 'pd' is not defined

In [ ]:
# 3개의 칼럼명이 필요함.
col_name2=['col1', 'col2', 'col3']

# 2행x3열 형태의 리스트와 ndarray 생성한 뒤 이를 DataFrame으로 변환.
list2 = [[1, 2, 3],
         [11, 12, 13]]
array2 = np.array(list2)
print('array2 shape:', array2.shape )
df_list2 = pd.DataFrame(list2, columns=col_name2)
print('2차원 리스트로 만든 DataFrame:\n', df_list2)
df_array2 = pd.DataFrame(array2, columns=col_name2)
print('2차원 ndarray로 만든 DataFrame:\n', df_array2)

array2 shape: (2, 3)
2차원 리스트로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13
2차원 ndarray로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13

In [ ]:
# Key는 컬럼명으로 매핑, Value는 리스트 형(또는 ndarray)
dict = {'col1':[1, 11], 'col2':[2, 22], 'col3':[3, 33]}
df_dict = pd.DataFrame(dict)
print('딕셔너리로 만든 DataFrame:\n', df_dict)

딕셔너리로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    22    33

### DataFrame을 넘파이 ndarray, 리스트, 딕셔너리로 변환하기



*   DataFrame 객체의 values를 이용

In [ ]:
#DataFrame을 ndarray로 변환
array3 = df_dict.values
print('df_dict.values 타입:', type(array3), 'df_dict.values shape:', array3.shape)
print(array3)

df_dict.values 타입: <class 'numpy.ndarray'> df_dict.values shape: (2, 3)
[[ 1  2  3]
 [11 22 33]]



*   DataFrame을 리스트로 변환 : values로 얻은 ndarray에 tolist()를 호출
*   딕셔너리로의 변환 : DataFrame 객체의 to_dict() 메서드를 호출, 인자로 'list'를 입력하면 딕셔너리의 값이 리스트형으로 반환

In [ ]:
#DataFrame을 리스트로 변환
list3 = df_dict.values.tolist()
print('df_dict.values.tolist() 타입:', type(list3))
print(list3)

#DataFrame을 딕셔너리로 변환
dict3 = df_dict.to_dict('list')
print('\n df_dict.to_dict() 타입:', type(dict3))
print(dict3)

df_dict.values.tolist() 타입: <class 'list'>
[[1, 2, 3], [11, 22, 33]]

 df_dict.to_dict() 타입: <class 'dict'>
{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

### 3. DataFrmae의 칼럼 데이터 세트 생성과 수정



*   [] 연산자를 이용
*   [] 내에 새로운 칼럼명을 입력하고 값을 할당해주기

In [ ]:
titanic_df['Age_0']=0
titanic_df.head(3)

NameError: name 'titanic_df' is not defined



*   상숫값을 할당하면 Series의 모든 데이터 세트에 일괄적으로 적용

In [ ]:
titanic_df['Age_by_10'] = titanic_df['Age']*10
titanic_df['Family_No'] = titanic_df['SibSp'] + titanic_df['Parch']+1
titanic_df.head(3)



*   DataFrame 내의 기존 칼럼 값도 쉽게 일괄적으로 업데이트 할 수 있음 -> DataFrame[] 내에 칼럼 명으로 입력한 뒤에 값을 할당해주면 됨

In [ ]:
titanic_df['Age_by_10'] = titanic_df['Age_by_10'] + 100
titanic_df.head(3)

### 4. DataFrame 데이터 삭제



*  DataFrame에서 데이터의 삭제는 drop() 메서드를 이용
*  drop() 메서드의 원형 : DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')



*   이 중 labels, axis, inplace가 중요
*   axis 값에 따라 특정 칼럼 또는 특정 행을 드롭
*   axis 0은 로우 방향 축, axis 1은 칼럼 방향 축
*   drop() 메서드에 axis=1을 입력하면 칼럼 축 방향으로 드롭을 수행하므로 칼럼을 드롭

In [ ]:
titanic_drop_df = titanic_df.drop('Age_0', axis=1)
titanic_drop_df.head(3)

NameError: name 'titanic_df' is not defined

In [ ]:
titanic_df.head(3)

NameError: name 'titanic_df' is not defined

In [ ]:
drop_result = titanic_df.drop(['Age_0', 'Age_by_10', 'Family_No'], axis=1, inplace=True)
print(' inplace=True 로 drop 후 반환된 값:', drop_result)
titanic_df.head(3)

NameError: name 'titanic_df' is not defined

In [ ]:
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 15)
print('#### before axis 0 drop ####')
print(titanic_df.head(3))

titanic_df.drop([0,1,2],axis=0, inplace=True)
print('#### after axis 0 drop ####')
print(titanic_df.head(3))

#### before axis 0 drop ####

NameError: name 'titanic_df' is not defined

Index 0,1,2 에 위치한 로우를 titanic_df.drop([0,1,2), axis=0, inplace=True)로 삭제



*   axis : DataFrame의 로우를 삭제할 때는 axis=0, 칼럼을 삭제할 때는 axis=1으로 설정.
*   원본 DataFrame은 유지하고 드롭된 DataFrame을 새롭게 객체 변수로 받고 싶다면 inplace=False로 설정(디폴트 값이 False임).
*   원본 DataFrame에 드롭된 결과를 적용할 경우에는 inplace=True를 적용
*   원본 DataFrame에서 드롭된 DataFrame을 다시 원본 DataFrame 객체 변수로 할당하면 원본 DataFrame에서 드롭된 결과를 적용할 경우와 같음

### 5. Index 객체

판다스의 Index 객체는 RDBMS의 PK와 유사하게 DataFrmae, Series의 레코드를 고유하게 식별하는 객체
titanic_df DataFrame에서 Index 객체 추출하기

In [ ]:
# 원본 파일 다시 로딩
titanic_df = pd.read_csv('titanic_train.csv')
# index 객체 추출
indexes = titanic_df.index
print(indexes)
# index 객체를 실제 값 (1차원) array로 변환
print('Index 객체 array 값 :\n', indexes.values)

FileNotFoundError: [Errno 2] No such file or directory: 'titanic_train.csv'

In [ ]:
print(type(indexes.values))
print(indexes.values.shape)
print(indexes[:5].values)
print(indexes.values[:5])
print(indexes[6])

In [ ]:
indexes[0] = 5

In [ ]:
series_fair = titanic_df['Fare']
print('Fair Series max 값:', series_fair.max())
print('Fair Series sum 값:', series_fair.sum())
print('sum() Fair Series:', sum(series_fair))
print('Fair Series + 3:\n',(series_fair + 3).head(3) )

In [ ]:
titanic_reset_df = titanic_df.reset_index(inplace=False)
titanic_reset_df.head(3)

In [ ]:
print('### before reset_index ###')
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)
print('value_counts 객체 변수 타입:',type(value_counts))

new_value_counts = value_counts.reset_index(inplace=False)
print('### After reset_index ###')
print(new_value_counts)
print('new_value_counts 객체 변수 타입:',type(new_value_counts))

### 6. 데이터 셀렉션 및 필터링


*   DataFrame의 [] 연산자

In [ ]:
print('단일 컬럼 데이터 추출:\n', titanic_df[ 'Pclass' ].head(3))
print('\n여러 컬럼들의 데이터 추출:\n', titanic_df[ ['Survived', 'Pclass'] ].head(3))
print('[ ] 안에 숫자 index는 KeyError 오류 발생:\n', titanic_df[0])

In [ ]:
titanic_df[0:2]

In [ ]:
titanic_df[ titanic_df['Pclass'] == 3].head(3)



*   DataFrame iloc[] 연산자

In [ ]:
data = {'Name': ['Chulmin', 'Eunkyung','Jinwoong','Soobeom'],
        'Year': [2011, 2016, 2015, 2015],
        'Gender': ['Male', 'Female', 'Male', 'Male']
       }
data_df = pd.DataFrame(data, index=['one','two','three','four'])
data_df

In [ ]:
data_df.iloc[0, 0]

In [ ]:
# 아래 코드는 오류를 발생시킵니다.
data_df.iloc[0, 'Name']

In [ ]:
# 아래 코드는 오류를 발생합니다.
data_df.iloc['one', 0]

In [ ]:
print("\n 맨 마지막 칼럼 데이터 [:, -1] \n", data_df.iloc[:, -1])
print("\n 맨 마지막 칼럼을 제외한 모든 데이터 [:, :-1] \n", data_df.iloc[: , :-1])



*   DataFrame loc[] 연산자

In [ ]:
data_df.loc['one', 'Name']
# 아래 코드는 오류를 발생합니다.
data_df_reset.loc[0, 'Name']
print('위치기반 iloc slicing\n', data_df.iloc[0:1, 0],'\n')
print('명칭기반 loc slicing\n', data_df.loc['one':'two', 'Name'])



*   불린 인덱싱

In [ ]:
titanic_df = pd.read_csv('titanic_train.csv')
titanic_boolean = titanic_df[titanic_df['Age'] > 60]
print(type(titanic_boolean))
titanic_boolean
titanic_df[titanic_df['Age'] > 60][['Name','Age']].head(3)
titanic_df.loc[titanic_df['Age'] > 60, ['Name','Age']].head(3)
titanic_df[ (titanic_df['Age'] > 60) & (titanic_df['Pclass']==1) & (titanic_df['Sex']=='female')]

In [ ]:
cond1 = titanic_df['Age'] > 60
cond2 = titanic_df['Pclass']==1
cond3 = titanic_df['Sex']=='female'
titanic_df[ cond1 & cond2 & cond3]

### 7. 정렬, Aggregation함수, GroupBy 적용



*   DataFrame, Series의 정렬 - sort_values()

In [ ]:
titanic_sorted = titanic_df.sort_values(by=['Name'])
titanic_sorted.head(3)
titanic_sorted = titanic_df.sort_values(by=['Pclass', 'Name'], ascending=False)
titanic_sorted.head(3)



*  Aggregation 함수 적용

In [ ]:
titanic_df.count()
titanic_df[['Age', 'Fare']].mean()



*   groupby() 이용하기

In [ ]:
titanic_groupby = titanic_df.groupby(by='Pclass')
print(type(titanic_groupby))
titanic_groupby = titanic_df.groupby('Pclass').count()
titanic_groupby
titanic_groupby = titanic_df.groupby('Pclass')[['PassengerId', 'Survived']].count()
titanic_groupby
titanic_df.groupby('Pclass')['Age'].agg([max, min])
agg_format={'Age':'max', 'SibSp':'sum', 'Fare':'mean'}
titanic_df.groupby('Pclass').agg(agg_format)

### 8. 결손 데이터 처리하기


*   isna()로 결손 데이터 여부 확인

In [ ]:
titanic_df.isna().head(3)
titanic_df.isna( ).sum( )



*   fillna()로 Missing 데이터 대체하기

In [ ]:
titanic_df['Cabin'] = titanic_df['Cabin'].fillna('C000')
titanic_df.head(3)
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())
titanic_df['Embarked'] = titanic_df['Embarked'].fillna('S')
titanic_df.isna().sum()

### 9. apply lambda 식으로 데이터 가공

In [ ]:
def get_square(a):
    return a**2

print('3의 제곱은:',get_square(3))
lambda_square = lambda x : x ** 2
print('3의 제곱은:',lambda_square(3))
a=[1,2,3]
squares = map(lambda x : x**2, a)
list(squares)
titanic_df['Name_len']= titanic_df['Name'].apply(lambda x : len(x))
titanic_df[['Name','Name_len']].head(3)

In [ ]:
titanic_df['Child_Adult'] = titanic_df['Age'].apply(lambda x : 'Child' if x <=15 else 'Adult' )
titanic_df[['Age','Child_Adult']].head(8)
titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x : 'Child' if x<=15 else ('Adult' if x <= 60 else
                                                                                  'Elderly'))
titanic_df['Age_cat'].value_counts()

In [ ]:
# 나이에 따라 세분화된 분류를 수행하는 함수 생성.
def get_category(age):
    cat = ''
    if age <= 5: cat = 'Baby'
    elif age <= 12: cat = 'Child'
    elif age <= 18: cat = 'Teenager'
    elif age <= 25: cat = 'Student'
    elif age <= 35: cat = 'Young Adult'
    elif age <= 60: cat = 'Adult'
    else : cat = 'Elderly'

    return cat

# lambda 식에 위에서 생성한 get_category( ) 함수를 반환값으로 지정.
# get_category(X)는 입력값으로 ‘Age’ 컬럼 값을 받아서 해당하는 cat 반환
titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x : get_category(x))
titanic_df[['Age','Age_cat']].head()